<% content_for :page_title do %>
  <%= t(:gift_cards) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_gift_card), new_object_url, :icon => 'icon-plus' %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_gift_cards_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>
        <%- locals = {:f => f} %>
        <div data-hook="admin_gift_cards_index_search">
          <div class="alpha nine columns">
            <div class="field">
              <%= f.label :name_or_email_cont, t(:name_or_email) %>
              <%= f.text_field :name_or_email_cont, :size => 15 %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="form-buttons actions filter-actions" data-hook="admin_gift_cards_index_search_buttons">
          <%= button t(:search), 'icon-search' %>
        </div>
    <% end %>
  </div>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th><%= t(:code) %></th>
      <th><%= t(:original_value) %></th>
      <th><%= t(:current_value) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:note) %></th>
      <th><%= t(:from) %></th>
      <th><%= t(:order) %></th>

      <% if SpreeGiftCard.has_expiration? %>
        <th><%= t(:expired_on) %></th>
      <% end %>

      <th><%= t(:redeemable) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_cards.each do |card| %>
      <tr id="<%= spree_dom_id card %>">
        <td><%= card.code %></td>
        <td><%= number_to_currency card.original_value %></td>
        <td><%= number_to_currency card.current_value %></td>
        <td><%= card.email %></td>
        <td><%= card.name %></td>
        <td><%= card.note %></td>
        <td><%= card.sender %></td>
        <td><%= card.order_number %></td>

        <% if SpreeGiftCard.has_expiration? %>
          <td><%= card.expired_on %></td>
        <% end %>

        <td><%= card.redeemable? %></td>
        <td class="actions">
          <%= link_to_edit card, no_text: true %> &nbsp;
          <%= link_to_delete card, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @gift_cards %>
